body {
    background: #191825;
}

.header-content {
    text-align: center;
}

.btn {
    background: transparent;
    border: none;
    border-radius: 5px;
    background-color: #20262E;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

/* js */
.dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.random_dogs {
    width: 40%;
}

img {
    max-width: 700px;
    height: 30rem;
}